:root {
  --dark-blue: #272343;
  --light: #ffffff;
  --light-blue: #e3f6f5;
  --mid-blue: #bae8e8;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--light);
}
h1 {
  text-align: center;
  font-size: 50px;
}
h2 {
  text-align: center;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../media/cat-stretch.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0px;
  color: white;
}
iframe {
  aspect-ratio: 16/9;
  width: 832px;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  margin: 30px 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.301);
}
.select {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.primary-button {
  text-align: center;
  font-size: 20px;
  padding-top: 21.5px;
  padding-bottom: 21.5px;
  background-color: var(--light-blue);
  border-bottom: 1px solid rgba(0, 0, 0, 0.103);
  color: var(--dark-blue);
  width: 100%;
  transition: 200ms ease-in-out;
  margin: 0;
}
.primary-button:hover {
  background-color: var(--dark-blue);
  color: var(--light);
}
#neck {
  border-top-left-radius: 20px;
}
#quads {
  border-top-right-radius: 20px;
}
#glutes {
  border-bottom-left-radius: 20px;
}
#fullbody {
  border-bottom-right-radius: 20px;
}
